.facebook-like {
    background:url(facebook.png) no-repeat scroll 0 0 transparent;
    display:block;
	height: 25px;
	width: 65px;
	text-indent:-9999px;
	white-space: nowrap;
}

.twitter-share {
    background:url(twitter.png) no-repeat scroll 0 0 transparent;
    display:block;
	height: 25px;
	width: 65px;
	text-indent:-9999px;
	white-space: nowrap;
}

.googleplus-one {
    background:url(googleplus.png) no-repeat scroll 0 0 transparent;
    display:block;
	height: 25px;
	width: 65px;
	text-indent:-9999px;
	white-space: nowrap;
}

.linkedin-share {
    background:url(linkedin.png) no-repeat scroll 0 0 transparent;
    display:block;
	height: 25px;
	width: 65px;
	text-indent:-9999px;
	white-space: nowrap;
}

.socialite-loaded {
	background-image: none;
	height: 100%;
	width: 100%;
	text-indent:0px;
}